DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=pos_accessories
JWT_SECRET=change_me
HF_TOKEN=hf_your_token_with_inference_providers_permission
HF_MODEL=Qwen/Qwen2.5-7B-Instruct-1M:cheapest
